body {
    background-color: rgb(186, 245, 230); /* light cyan */
}

table {
    /* zentriere Tabelle */
    margin-left: auto;  
    margin-right: auto;
    /* trenne Zellenränder voneinander und stelle die Entfernung auf 10 Pixel */
    border-collapse: separate;
    border-spacing: 10px 10px;
}

td {
    height: 70px; 
    width:  70px;  
}

.coin_info, .bomb_info, .flipped, .flipped-bad, #hilfe {
    text-align: center;
}

.bomb_info {
    background-color: rgb(236, 120, 120); /* light red */
}

.coin_info {
    background-color: rgb(236, 245, 108); /* light yellow */
}

.feld {
    background-color: rgb(2, 119, 2); /* green */
}

.flipped {
    background-color: rgb(186, 245, 230); /* light cyan */
    font-size: 40px;
}

.flipped-bad {
    background-color: rgb(165, 42, 42); /* red-brown */
    font-size: 40px;
}

#scoreboard, #status {
    margin-left: auto;  
    margin-right: auto;
    width:  400px;
    height: 50px;
    text-align: center;
    font-size: 40px;
}

.marked_field {
    background-color: rgb(172, 86, 252); /* light lilac */
}